/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#content article p, a {
  font-family: Arial;
  font-size: 95%;
}

.above-header, footer {
  background: black;
}

footer {
  height: 80px;
}
footer p {
  position: relative;
  top: 20px;
  margin-left: 13.33333px;
  color: white;
  font-family: "Abel", Trebuchet MS, Helvetica;
  font-size: 95%;
}

#main-nav {
  height: 40px;
}
#main-nav a {
  color: white;
  position: relative;
  top: 13.33333px;
  margin-left: 40px;
  font-family: Georgia;
}

.logo {
  background: #668134;
  height: 160px;
  overflow: hidden;
  width: auto;
}
.logo a {
  position: absolute;
  top: 80px;
  margin-left: 40px;
  color: white;
  font-size: 400%;
  font-family: Georgia;
}

#logopic {
  position: relative;
  overflow: hidden;
  left: 65%;
}

#content-wrap {
  overflow: auto;
  width: auto;
  padding: 40px;
}

#content {
  float: left;
  width: 50%;
}
#content article p {
  margin: 20px auto;
  line-height: 180%;
}

.content-center {
  float: left;
  width: 25%;
  margin: 0px 20px 0px 20px;
  line-height: 130%;
}
.content-center h2 {
  margin-bottom: 30px;
}
.content-center li {
  margin-bottom: 10px;
}

.content-right {
  float: left;
  width: 20%;
}
.content-right article {
  line-height: 120%;
}
.content-right article h3 {
  margin-top: 30px;
}
.content-right article p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.teaser-list p {
  color: black;
  font-family: "Abel", Trebuchet MS, Helvetica;
  font-size: 95%;
}

h1 {
  font-size: 200%;
}

h2, h3 {
  font-size: 120%;
}

h1, h2, h3 {
  color: #668134;
}

article {
  color: black;
}

a {
  text-decoration: none;
  color: #668134;
}
